.imagen {
            width: 100%;
            padding-bottom: 10px;
            height: 150px;
            max-height: 125px;
                img {
                display: block;
                margin: auto;
                width: 100%;
                height: 100%;
                border: 2px solid rgba(212, 211, 210, .6);
                border-radius: 10px;
                }
}


